In [1]:
import pandas as pd

In [5]:
samsung = pd.read_excel('datalab_samsung.xlsx')
samsungbio = pd.read_excel('datalab_samsungbio.xlsx')
hynix = pd.read_excel('datalab_skhynix.xlsx')
celltrion = pd.read_excel('datalab_celltrion.xlsx')
hyundai = pd.read_excel('datalab_hyundai.xlsx')

In [11]:
samsung = samsung[6:]
samsungbio = samsungbio[6:]
hynix = hynix[6:]
celltrion = celltrion[6:]
hyundai = hyundai[6:]

In [16]:
samsung.columns = ['Date', 'Search_rate']

In [17]:
samsung

           Date Search_rate
6    2016-01-01     0.73146
7    2016-01-02     0.83392
8    2016-01-03     0.85521
9    2016-01-04      2.6586
10   2016-01-05     2.41191
11   2016-01-06     2.43516
12   2016-01-07      2.6519
13   2016-01-08     3.16608
14   2016-01-09      1.0146
15   2016-01-10     0.92072
16   2016-01-11     2.57405
17   2016-01-12     2.57575
18   2016-01-13     2.18325
19   2016-01-14     2.37161
20   2016-01-15     2.11601
21   2016-01-16     0.99687
22   2016-01-17     0.90277
23   2016-01-18     2.46596
24   2016-01-19     2.38081
25   2016-01-20     2.62331
26   2016-01-21     2.36605
27   2016-01-22     2.33712
28   2016-01-23      0.9967
29   2016-01-24     0.90218
30   2016-01-25     2.19899
31   2016-01-26     2.30628
32   2016-01-27     2.30793
33   2016-01-28     4.38461
34   2016-01-29     2.25439
35   2016-01-30     0.99101
..          ...         ...
797  2018-03-02     4.95131
798  2018-03-03     1.53238
799  2018-03-04     1.50192
800  2018-03-05     5.55021
801  2018-03-06     5.68681
802  2018-03-07      6.3532
803  2018-03-08     5.88336
804  2018-03-09     6.42227
805  2018-03-10     1.74514
806  2018-03-11     1.75536
807  2018-03-12     6.00685
808  2018-03-13     6.80612
809  2018-03-14     6.42672
810  2018-03-15     5.71485
811  2018-03-16     5.18358
812  2018-03-17      1.6079
813  2018-03-18     1.56098
814  2018-03-19     5.49998
815  2018-03-20     5.35425
816  2018-03-21     4.72146
817  2018-03-22     5.03421
818  2018-03-23    10.09964
819  2018-03-24     1.72049
820  2018-03-25     1.53692
821  2018-03-26     5.75503
822  2018-03-27      5.3089
823  2018-03-28     5.39799
824  2018-03-29     4.98529
825  2018-03-30     4.66563
826  2018-03-31     1.34016

[821 rows x 2 columns]