In [12]:
import pandas as pd

In [13]:
movie = pd.read_excel('movie_data.xlsx')

In [14]:
movie

,순번,영화명,감독,배급사,개봉일,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,분기,일반상영관 가격
0,1,명량,김한민,씨제이이앤엠(주),2014-07-30,한국,1587,1.357484e+11,17613682,3.312123e+10,4163666,사극,15세이상관람가,3.0,9500.0
1,2,국제시장,윤제균,씨제이이앤엠(주),2014-12-17,한국,966,1.108280e+11,14245998,2.584252e+10,3233946,드라마,12세이상관람가,4.0,9500.0
2,3,베테랑,류승완,씨제이이앤엠(주),2015-08-05,한국,1064,1.050248e+11,13395400,2.676637e+10,3290366,액션,15세이상관람가,3.0,9500.0
3,4,도둑들,최동훈,(주)쇼박스,2012-07-25,한국,1072,9.366557e+10,12983330,2.608943e+10,3468906,액션,15세이상관람가,3.0,8500.0
4,5,7번방의 선물,이환경,(주)넥스트엔터테인먼트월드(NEW),2013-01-23,한국,787,9.143191e+10,12811206,2.280093e+10,3070053,코미디,15세이상관람가,1.0,9500.0
5,6,암살,최동훈,(주)쇼박스,2015-07-22,한국,1519,9.846313e+10,12705700,2.530665e+10,3155960,액션,15세이상관람가,3.0,9500.0
6,7,"광해, 왕이 된 남자",추창민,씨제이이앤엠(주),2012-09-13,한국,810,8.890021e+10,12319542,2.519280e+10,3355700,사극,15세이상관람가,3.0,8500.0
7,8,택시운전사,장훈,(주)쇼박스,2017-08-02,한국,1906,9.528266e+10,12099614,2.218595e+10,2729766,드라마,15세이상관람가,3.0,9500.0
8,9,부산행,연상호,(주)넥스트엔터테인먼트월드(NEW),2016-07-20,한국,1788,9.317588e+10,11565078,2.302083e+10,2754686,액션,15세이상관람가,3.0,9500.0
9,10,해운대,윤제균,씨제이엔터테인먼트,2009-07-22,한국,753,8.193464e+10,11453338,2.114140e+10,2791508,액션,12세이상관람가,3.0,8500.0
10,11,변호인,양우석,(주)넥스트엔터테인먼트월드(NEW),2013-12-18,한국,923,8.285658e+10,11372451,2.257193e+10,2978688,드라마,15세이상관람가,4.0,9500.0
11,12,어벤져스: 에이지 오브 울트론,조스 웨던,월트디즈니컴퍼니코리아(주),2015-04-23,미국,1843,8.858259e+10,10494499,2.500191e+10,2823388,액션,12세이상관람가,2.0,9500.0
12,13,겨울왕국,"크리스 벅,제니퍼 리",소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),2014-01-16,미국,1010,8.246150e+10,10296101,2.584724e+10,3003446,애니메이션,전체관람가,1.0,9500.0
13,14,인터스텔라,크리스토퍼 놀란,워너브러더스 코리아(주),2014-11-06,미국,1342,8.227433e+10,10273803,2.550035e+10,3079036,SF,12세이상관람가,4.0,9500.0
14,15,검사외전,이일형,(주)쇼박스,2016-02-03,한국,1812,7.725276e+10,9699092,1.830253e+10,2219587,범죄,15세이상관람가,1.0,9500.0
15,16,관상,한재림,(주)쇼박스,2013-09-11,한국,1190,6.600545e+10,9134586,1.931118e+10,2561744,사극,15세이상관람가,3.0,9500.0
16,17,아이언맨 3,쉐인 블랙,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),2013-04-25,미국,1381,7.080619e+10,9001309,2.166894e+10,2595269,액션,12세이상관람가,2.0,9500.0
17,18,설국열차,봉준호,씨제이이앤엠(주),2013-08-01,한국,1128,6.401648e+10,8914845,1.897587e+10,2550437,SF,15세이상관람가,3.0,9500.0
18,19,캡틴 아메리카: 시빌 워,"안소니 루소,조 루소",월트디즈니컴퍼니코리아(주),2016-04-27,미국,1991,7.267211e+10,8677249,2.124812e+10,2400069,액션,12세이상관람가,2.0,9500.0
19,20,수상한 그녀,황동혁,씨제이이앤엠(주),2014-01-22,한국,692,6.269664e+10,8656397,1.535881e+10,2042110,드라마,15세이상관람가,1.0,9500.0
20,21,해적: 바다로 간 산적,이석훈,롯데쇼핑㈜롯데엔터테인먼트,2014-08-06,한국,838,6.624063e+10,8646758,1.490635e+10,1868694,어드벤처,12세이상관람가,3.0,9500.0
21,22,신과함께-죄와 벌,김용화,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,한국,1912,6.835050e+10,8539495,1.632453e+10,1984373,판타지,12세이상관람가,4.0,9500.0
22,23,국가대표,김용화,(주)쇼박스,2009-07-29,한국,580,6.089663e+10,8487894,1.678233e+10,2213346,드라마,12세이상관람가,3.0,8500.0
23,24,디워,심형래,(주)쇼박스,2007-08-01,한국,0,0.000000e+00,8426973,0.000000e+00,2098438,액션,12세이상관람가,NaN,NaN
24,25,과속스캔들,강형철,롯데쇼핑㈜롯데엔터테인먼트,2008-12-03,한국,405,5.394010e+10,8245523,1.651529e+10,2390408,코미디,12세이상관람가,4.0,7500.0
25,26,공조,김성훈,씨제이이앤엠(주),2017-01-18,한국,976,6.378173e+10,7817446,1.467281e+10,1744624,액션,15세이상관람가,1.0,9500.0
26,27,트랜스포머 3,마이클 베이,씨제이이앤엠(주),2011-06-29,미국,1409,7.484135e+10,7784807,2.174622e+10,2143018,액션,12세이상관람가,2.0,8500.0
27,28,히말라야,이석훈,씨제이이앤엠(주),2015-12-16,한국,1009,6.017358e+10,7759473,1.392055e+10,1738016,드라마,12세이상관람가,4.0,9500.0
28,29,미션임파서블:고스트프로토콜,브래드 버드,씨제이이앤엠(주),2011-12-15,미국,1038,5.779585e+10,7575899,1.871928e+10,2347164,액션,15세이상관람가,4.0,8500.0
29,30,트랜스포머: 패자의 역습,마이클 베이,씨제이엔터테인먼트,2009-06-24,미국,1129,5.147853e+10,7505700,1.608303e+10,2200557,SF,12세이상관람가,2.0,8500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6128,6129,히틀러 좀비 군단 : 벙커 오브 더 데드,마티아스 올로프,(주)도키엔터테인먼트,2016-09-21,독일,1,8.000000e+03,1,0.000000e+00,0,액션,청소년관람불가,NaN,NaN
6129,6130,힐링캠프-한세상 무삭제,국만중,(주)콘텐츠윙,2017-07-27,한국,1,2.000000e+03,1,0.000000e+00,0,드라마,청소년관람불가,NaN,NaN
6130,6131,힙스터: 안개의 덫,강명진,고구마콘텐츠허브(주),2015-10-21,한국,1,5.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6131,6132,19금 섹스비디오,박범수,(주)케이알씨지,2017-02-21,한국,1,5.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6132,6133,19금 섹스비디오 무삭제 감독판,박범수,(주)케이알씨지,2017-04-17,한국,1,3.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6133,6134,1944 워 히어로,자스민 디즈더,(주)라이크 콘텐츠,2017-05-25,미국,1,5.000000e+03,1,0.000000e+00,0,드라마,15세이상관람가,NaN,NaN
6134,6135,2차 세계대전 타임트랙,에밀 에드윈 스미스,(주)케이알씨지,2016-07-21,미국,1,3.000000e+03,1,0.000000e+00,0,액션,12세이상관람가,NaN,NaN
6135,6136,20대 같은 40대 미시녀,긴다이치 코고로,(주)플라이어,2017-01-10,일본,1,8.000000e+03,1,0.000000e+00,0,드라마,청소년관람불가,NaN,NaN
6136,6137,2035 매드 레이스,크리스토퍼 제임스 밀러,(주)케이알씨지,2017-06-27,미국,1,3.000000e+03,1,0.000000e+00,0,판타지,청소년관람불가,NaN,NaN
6137,6138,2047: 지구 최후의 날,알렉산드로 카폰,(주)소나무픽쳐스,2015-08-05,이탈리아,1,8.000000e+03,1,8.000000e+03,1,액션,15세이상관람가,NaN,NaN
6138,6139,24시간 달리는 쾌락 버스,료 카미이,(주)영진크리에이티브,2017-05-20,일본,1,5.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6139,6140,28살 미망인의 속옷,긴 류지,(주)도키엔터테인먼트,2017-11-16,일본,1,6.000000e+03,1,0.000000e+00,0,성인물(에로),청소년관람불가,NaN,NaN
6140,6141,3데이즈: 라스트 서바이벌,길 벨로우스,라인트리엔터테인먼트,2015-12-24,캐나다,1,5.000000e+03,1,0.000000e+00,0,스릴러,청소년관람불가,NaN,NaN
6141,6142,3분 파트너-무삭제,박주영,스마일컨텐츠,2017-09-15,한국,1,2.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6142,6143,400 데이즈,매트 오스터만,(주)퍼스트런,2015-12-02,미국,1,5.000000e+03,1,0.000000e+00,0,SF,15세이상관람가,NaN,NaN
6143,6144,50가지 욕망의 그림자,자레드 콘,(주)케이알씨지,2017-11-02,미국,1,3.000000e+03,1,0.000000e+00,0,스릴러,청소년관람불가,NaN,NaN
6144,6145,50대 장모님의 불타는 사위사랑,김두민,두리컴,2017-12-04,한국,1,5.000000e+03,1,0.000000e+00,0,기타,청소년관람불가,NaN,NaN
6145,6146,666 사탄의 아들,NaN,주식회사 레드아이스,2017-12-17,미국,1,3.000000e+03,1,0.000000e+00,0,NaN,청소년관람불가,NaN,NaN
6146,6147,AV스타: 과거를 지워주세요,케이치 후지와라,(주)영진크리에이티브,2016-09-30,일본,1,5.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6147,6148,AV제작사의 여직원,나베 카츠오,(주)도키엔터테인먼트,2017-06-01,일본,1,6.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6148,6149,F.O.E.: 에프.오.이.,키오니 왁스먼,라인트리엔터테인먼트,2014-04-24,미국,1,2.000000e+03,1,2.000000e+03,1,액션,청소년관람불가,NaN,NaN
6149,6150,H컵 이상 거유 여배우,다케다 히데오,(주)도키엔터테인먼트,2017-06-01,일본,1,6.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6150,6151,H2: 어느 살인마의 가족이야기,롭 좀비,(주)누리픽쳐스,2010-06-10,미국,1,8.000000e+03,1,8.000000e+03,1,공포(호러),청소년관람불가,NaN,NaN
6151,6152,P.S. 걸 무삭제,원석호,전망 PRODUCTION,2017-02-06,한국,1,5.000000e+03,1,0.000000e+00,0,스릴러,청소년관람불가,NaN,NaN
6152,6153,VIP전용 여자,카네다 사토시,(주)도키엔터테인먼트,2016-12-01,일본,1,8.000000e+03,1,0.000000e+00,0,성인물(에로),청소년관람불가,NaN,NaN
6153,6154,VJ의 은밀한 사생활,오카다 히로,(주)영진크리에이티브,2017-12-25,일본,1,6.000000e+03,1,0.000000e+00,0,멜로/로맨스,청소년관람불가,NaN,NaN
6154,6155,av감독의 아내,쿠도 마사노리,(주)도키엔터테인먼트,2016-12-22,일본,1,8.000000e+03,1,0.000000e+00,0,성인물(에로),청소년관람불가,NaN,NaN
6155,6156,만화방,허재형,(주)영진크리에이티브,2012-02-29,한국,0,0.000000e+00,0,0.000000e+00,0,코미디,청소년관람불가,NaN,NaN
6156,6157,클래쉬,레 탄 선,(주)소나무픽쳐스,2011-08-11,베트남,0,0.000000e+00,0,0.000000e+00,0,액션,청소년관람불가,NaN,NaN
6157,6158,트루 저스티스,NaN,(주)소나무픽쳐스,2011-06-30,미국,0,0.000000e+00,0,0.000000e+00,0,스릴러,15세이상관람가,NaN,NaN

In [15]:
movie['개봉일'] = pd.to_datetime(movie['개봉일'])
movie['month'] = pd.DatetimeIndex(movie['개봉일']).month
movie.head()

,순번,영화명,감독,배급사,개봉일,국적,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,장르,등급,분기,일반상영관 가격,month
0,1,명량,김한민,씨제이이앤엠(주),2014-07-30,한국,1587,1.357484e+11,17613682,3.312123e+10,4163666,사극,15세이상관람가,3.0,9500.0,7
1,2,국제시장,윤제균,씨제이이앤엠(주),2014-12-17,한국,966,1.108280e+11,14245998,2.584252e+10,3233946,드라마,12세이상관람가,4.0,9500.0,12
2,3,베테랑,류승완,씨제이이앤엠(주),2015-08-05,한국,1064,1.050248e+11,13395400,2.676637e+10,3290366,액션,15세이상관람가,3.0,9500.0,8
3,4,도둑들,최동훈,(주)쇼박스,2012-07-25,한국,1072,9.366557e+10,12983330,2.608943e+10,3468906,액션,15세이상관람가,3.0,8500.0,7
4,5,7번방의 선물,이환경,(주)넥스트엔터테인먼트월드(NEW),2013-01-23,한국,787,9.143191e+10,12811206,2.280093e+10,3070053,코미디,15세이상관람가,1.0,9500.0,1

In [16]:
cols = [0, 4]
movie.drop(movie.columns[cols],axis=1,inplace=True)

In [17]:
movie.dropna(inplace=True)

In [18]:
str_list = []
for col_name, col_value in movie.iteritems():
    if type(col_value[1]) == str:
        str_list.append(col_name)

In [19]:
num_list = movie.columns.difference(str_list)
movie_num = movie[num_list]
movie_num.head()

   month   분기    서울관객수         서울매출액  일반상영관 가격     전국관객수         전국매출액  전국스크린수
0      7  3.0  4163666  3.312123e+10    9500.0  17613682  1.357484e+11    1587
1     12  4.0  3233946  2.584252e+10    9500.0  14245998  1.108280e+11     966
2      8  3.0  3290366  2.676637e+10    9500.0  13395400  1.050248e+11    1064
3      7  3.0  3468906  2.608943e+10    8500.0  12983330  9.366557e+10    1072
4      1  1.0  3070053  2.280093e+10    9500.0  12811206  9.143191e+10     787

In [20]:
movie_num = movie_num.fillna(value=0,axis=1)
movie_num.drop(movie_num.columns[0],axis=1,inplace=True)
movie_num.drop(movie_num.columns[0],axis=1,inplace=True)
movie_num.head()

     서울관객수         서울매출액  일반상영관 가격     전국관객수         전국매출액  전국스크린수
0  4163666  3.312123e+10    9500.0  17613682  1.357484e+11    1587
1  3233946  2.584252e+10    9500.0  14245998  1.108280e+11     966
2  3290366  2.676637e+10    9500.0  13395400  1.050248e+11    1064
3  3468906  2.608943e+10    8500.0  12983330  9.366557e+10    1072
4  3070053  2.280093e+10    9500.0  12811206  9.143191e+10     787

In [21]:
X = movie_num.values
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(X)

In [24]:
normalized_x = pd.DataFrame(x)
normalized_x = normalized_x.rename(columns={0:'Seoul viewer',1:'Seoul sales',2:'movie price',3:'viewers', 4:'sales',5:'screens'})

   Seoul viewer  Seoul sales  movie price   viewers     sales   screens
0      7.718595     7.637794     0.890917  8.875728  8.894048  3.904276
1      5.858584     5.826635     0.890917  7.066019  7.154734  1.816649
2      5.971459     6.056517     0.890917  6.608929  6.749697  2.146098
3      6.328648     5.888073    -0.609721  6.387493  5.956884  2.172991
4      5.530697     5.069798     0.890917  6.294998  5.800987  1.214902

In [25]:
normalized_x['quater'] = movie['분기']
normalized_x.head()

,Seoul viewer,Seoul sales,movie price,viewers,sales,screens,quater
0,7.718595,7.637794,0.890917,8.875728,8.894048,3.904276,3.0
1,5.858584,5.826635,0.890917,7.066019,7.154734,1.816649,4.0
2,5.971459,6.056517,0.890917,6.608929,6.749697,2.146098,3.0
3,6.328648,5.888073,-0.609721,6.387493,5.956884,2.172991,3.0
4,5.530697,5.069798,0.890917,6.294998,5.800987,1.214902,1.0

In [26]:
normalized_x_onehot = normalized_x.copy()
normalized_x_onehot = pd.get_dummies(normalized_x, columns=['quater'], prefix = ['quater'])
print(normalized_x_onehot.head())

   Seoul viewer  Seoul sales  movie price   viewers     sales   screens  \
0      7.718595     7.637794     0.890917  8.875728  8.894048  3.904276
1      5.858584     5.826635     0.890917  7.066019  7.154734  1.816649
2      5.971459     6.056517     0.890917  6.608929  6.749697  2.146098
3      6.328648     5.888073    -0.609721  6.387493  5.956884  2.172991
4      5.530697     5.069798     0.890917  6.294998  5.800987  1.214902

   quater_1.0  quater_2.0  quater_3.0  quater_4.0
0           0           0           1           0
1           0           0           0           1
2           0           0           1           0
3           0           0           1           0
4           1           0           0           0

In [28]:
normalized_x_onehot = pd.DataFrame(normalized_x_onehot)
normalized_x_onehot.head()

,Seoul viewer,Seoul sales,movie price,viewers,sales,screens,quater_1.0,quater_2.0,quater_3.0,quater_4.0
0,7.718595,7.637794,0.890917,8.875728,8.894048,3.904276,0,0,1,0
1,5.858584,5.826635,0.890917,7.066019,7.154734,1.816649,0,0,0,1
2,5.971459,6.056517,0.890917,6.608929,6.749697,2.146098,0,0,1,0
3,6.328648,5.888073,-0.609721,6.387493,5.956884,2.172991,0,0,1,0
4,5.530697,5.069798,0.890917,6.294998,5.800987,1.214902,1,0,0,0

In [29]:
from sklearn import linear_model

In [30]:
x = normalized_x_onehot.drop(normalized_x_onehot.columns[3],axis=1)

In [34]:
y = normalized_x_onehot['viewers']
y.head()

0    8.875728
1    7.066019
2    6.608929
3    6.387493
4    6.294998
Name: viewers, dtype: float64

In [35]:
lm = linear_model.LinearRegression()

In [36]:
model = lm.fit(x,y)

In [38]:
predictions = lm.predict(x)
print(predictions)

[ 8.94337295  7.16232857  6.6711066  ... -0.58329633 -0.58327049
 -0.58366365]

In [39]:
lm.score(x,y)

0.9996010487393069

In [40]:
lm.coef_

array([ 8.53502268e-01, -8.29378707e-01, -1.64546512e-04,  9.78392979e-01,
       -3.10490442e-03, -6.66500167e-04,  6.07555535e-04,  7.43268510e-04,
        3.36518853e-04])

In [41]:
lm.intercept_

-0.00019013194827108233

In [55]:
x1 = normalized_x_onehot['screens']
y1 = normalized_x_onehot['viewers']

In [56]:
model = linear_model.LinearRegression()

In [61]:
type(x1)

pandas.core.series.Series