In [2]:
import pandas as pd
from antQuant.utils import DataManager

In [3]:
samsung = DataManager()
samsung_stock = samsung.get_daily_ohlcv('005930')
samsung_stock

               open     high      low    close  volume  adj_ratio
date
1990-01-03    44000    45000    43200    44800   26240        1.0
1990-01-04    45000    45800    44800    45300   41900        1.0
1990-01-05    45000    45300    44300    44300   27400        1.0
1990-01-06    44800    45000    44500    44500   26380        1.0
1990-01-08    44500    44900    44000    44000   14790        1.0
1990-01-09    44500    44500    43500    44300   31250        1.0
1990-01-10    44300    44300    43800    43800   27820        1.0
1990-01-11    43800    43800    43200    43200   46610        1.0
1990-01-12    43300    43400    42900    43400   51580        1.0
1990-01-13    43200    43200    42900    43000   21860        1.0
1990-01-15    42700    42800    42200    42300   38330        1.0
1990-01-16    42300    42300    41400    42300   31830        1.0
1990-01-17    42200    42200    41800    41800   26060        1.0
1990-01-18    42000    42300    41500    41800   24970        1.0
1990-01-19    41800    41800    41300    41300   35810        1.0
1990-01-20    41200    41500    41000    41400   28100        1.0
1990-01-22    42000    42900    41800    42900   50080        1.0
1990-01-23    42900    43800    42800    42900   61580        1.0
1990-01-24    43500    43700    43400    43600   51840        1.0
1990-01-25    44000    44000    43600    43700   55370        1.0
1990-01-29    43600    43900    43300    43500   43820        1.0
1990-01-30    43600    43600    42500    43000   69720        1.0
1990-01-31    42400    43000    42400    42800   47050        1.0
1990-02-01    42500    42500    42100    42400   34470        1.0
1990-02-02    42100    42300    41700    41700   25630        1.0
1990-02-03    41500    41700    41300    41500   30620        1.0
1990-02-05    41500    41800    41500    41700   25500        1.0
1990-02-06    41900    43000    41900    43000   40070        1.0
1990-02-07    43000    43600    42600    43000   60290        1.0
1990-02-08    43000    43500    42700    43400   70000        1.0
...             ...      ...      ...      ...     ...        ...
2018-02-19  2490000  2490000  2393000  2419000  307069        1.0
2018-02-20  2402000  2408000  2361000  2370000  202452        1.0
2018-02-21  2364000  2379000  2342000  2364000  257604        1.0
2018-02-22  2363000  2363000  2338000  2338000  177399        1.0
2018-02-23  2338000  2390000  2338000  2361000  248466        1.0
2018-02-26  2364000  2378000  2354000  2369000  191213        1.0
2018-02-27  2418000  2419000  2369000  2369000  196611        1.0
2018-02-28  2369000  2405000  2350000  2353000  303247        1.0
2018-03-02  2329000  2340000  2300000  2301000  265310        1.0
2018-03-05  2291000  2308000  2254000  2260000  282019        1.0
2018-03-06  2296000  2355000  2291000  2351000  308467        1.0
2018-03-07  2410000  2445000  2361000  2431000  428541        1.0
2018-03-08  2460000  2474000  2404000  2460000  389273        1.0
2018-03-09  2472000  2527000  2462000  2487000  286088        1.0
2018-03-12  2528000  2539000  2479000  2487000  173779        1.0
2018-03-13  2538000  2583000  2518000  2583000  401974        1.0
2018-03-14  2551000  2600000  2550000  2588000  254265        1.0
2018-03-15  2600000  2601000  2551000  2577000  177649        1.0
2018-03-16  2561000  2571000  2512000  2557000  243698        1.0
2018-03-19  2531000  2567000  2522000  2537000  164377        1.0
2018-03-20  2535000  2560000  2505000  2560000  163865        1.0
2018-03-21  2589000  2589000  2553000  2553000  178104        1.0
2018-03-22  2553000  2589000  2552000  2589000  169082        1.0
2018-03-23  2517000  2536000  2480000  2486000  297099        1.0
2018-03-26  2471000  2514000  2452000  2514000  201155        1.0
2018-03-27  2516000  2523000  2454000  2499000  237480        1.0
2018-03-28  2455000  2455000  2417000  2435000  303189        1.0
2018-03-29  2435000  2478000  2416000  2452000  201340        1.0
2018-03-30  2454000  2495000  2454000  2461000  155542        1.0
2018-04-02  2450000  2461000  2425000  2427000  142313        1.0

[7396 rows x 6 columns]

In [15]:
samsung_stock.index.get_loc('2016-01-04')

6845

In [16]:
samsung_stock = samsung_stock[samsung_stock.index.get_loc('2016-01-04'):]

In [17]:
samsung_stock

               open     high      low    close  volume  adj_ratio
date
2016-01-04  1260000  1260000  1205000  1205000  306939        1.0
2016-01-05  1202000  1218000  1186000  1208000  216002        1.0
2016-01-06  1208000  1208000  1168000  1175000  366752        1.0
2016-01-07  1166000  1183000  1151000  1163000  282388        1.0
2016-01-08  1163000  1186000  1163000  1171000  257763        1.0
2016-01-11  1156000  1166000  1146000  1152000  241277        1.0
2016-01-12  1148000  1166000  1144000  1146000  206283        1.0
2016-01-13  1153000  1159000  1148000  1148000  143316        1.0
2016-01-14  1131000  1142000  1131000  1138000  209022        1.0
2016-01-15  1140000  1152000  1124000  1132000  209464        1.0
2016-01-18  1088000  1133000  1088000  1126000  320214        1.0
2016-01-19  1128000  1171000  1128000  1171000  207242        1.0
2016-01-20  1160000  1160000  1132000  1138000  167052        1.0
2016-01-21  1133000  1155000  1125000  1131000  190352        1.0
2016-01-22  1145000  1168000  1145000  1168000  147528        1.0
2016-01-25  1172000  1176000  1156000  1162000  159913        1.0
2016-01-26  1155000  1157000  1136000  1137000  152399        1.0
2016-01-27  1126000  1175000  1126000  1175000  276237        1.0
2016-01-28  1164000  1168000  1139000  1145000  315912        1.0
2016-01-29  1140000  1150000  1116000  1150000  436983        1.0
2016-02-01  1152000  1163000  1151000  1163000  259979        1.0
2016-02-02  1161000  1166000  1147000  1156000  166348        1.0
2016-02-03  1150000  1152000  1137000  1146000  174507        1.0
2016-02-04  1150000  1161000  1148000  1156000  247959        1.0
2016-02-05  1156000  1169000  1156000  1164000  188094        1.0
2016-02-11  1118000  1137000  1118000  1130000  305262        1.0
2016-02-12  1130000  1151000  1122000  1130000  256232        1.0
2016-02-15  1154000  1160000  1144000  1154000  183146        1.0
2016-02-16  1158000  1179000  1157000  1168000  180401        1.0
2016-02-17  1179000  1201000  1169000  1185000  246062        1.0
...             ...      ...      ...      ...     ...        ...
2018-02-19  2490000  2490000  2393000  2419000  307069        1.0
2018-02-20  2402000  2408000  2361000  2370000  202452        1.0
2018-02-21  2364000  2379000  2342000  2364000  257604        1.0
2018-02-22  2363000  2363000  2338000  2338000  177399        1.0
2018-02-23  2338000  2390000  2338000  2361000  248466        1.0
2018-02-26  2364000  2378000  2354000  2369000  191213        1.0
2018-02-27  2418000  2419000  2369000  2369000  196611        1.0
2018-02-28  2369000  2405000  2350000  2353000  303247        1.0
2018-03-02  2329000  2340000  2300000  2301000  265310        1.0
2018-03-05  2291000  2308000  2254000  2260000  282019        1.0
2018-03-06  2296000  2355000  2291000  2351000  308467        1.0
2018-03-07  2410000  2445000  2361000  2431000  428541        1.0
2018-03-08  2460000  2474000  2404000  2460000  389273        1.0
2018-03-09  2472000  2527000  2462000  2487000  286088        1.0
2018-03-12  2528000  2539000  2479000  2487000  173779        1.0
2018-03-13  2538000  2583000  2518000  2583000  401974        1.0
2018-03-14  2551000  2600000  2550000  2588000  254265        1.0
2018-03-15  2600000  2601000  2551000  2577000  177649        1.0
2018-03-16  2561000  2571000  2512000  2557000  243698        1.0
2018-03-19  2531000  2567000  2522000  2537000  164377        1.0
2018-03-20  2535000  2560000  2505000  2560000  163865        1.0
2018-03-21  2589000  2589000  2553000  2553000  178104        1.0
2018-03-22  2553000  2589000  2552000  2589000  169082        1.0
2018-03-23  2517000  2536000  2480000  2486000  297099        1.0
2018-03-26  2471000  2514000  2452000  2514000  201155        1.0
2018-03-27  2516000  2523000  2454000  2499000  237480        1.0
2018-03-28  2455000  2455000  2417000  2435000  303189        1.0
2018-03-29  2435000  2478000  2416000  2452000  201340        1.0
2018-03-30  2454000  2495000  2454000  2461000  155542        1.0
2018-04-02  2450000  2461000  2425000  2427000  142313        1.0

[551 rows x 6 columns]

In [9]:
samsung = pd.read_excel('datalab_samsung.xlsx')
samsungbio = pd.read_excel('datalab_samsungbio.xlsx')
hynix = pd.read_excel('datalab_skhynix.xlsx')
celltrion = pd.read_excel('datalab_celltrion.xlsx')
hyundai = pd.read_excel('datalab_hyundai.xlsx')

In [10]:
samsung = samsung[6:]
samsungbio = samsungbio[6:]
hynix = hynix[6:]
celltrion = celltrion[6:]
hyundai = hyundai[6:]

In [11]:
samsung.columns = ['Date', 'Search_rate']

In [23]:
samsung = samsung.set_index('Date')

In [24]:
samsung

           Search_rate
Date
2016-01-01     0.73146
2016-01-02     0.83392
2016-01-03     0.85521
2016-01-04      2.6586
2016-01-05     2.41191
2016-01-06     2.43516
2016-01-07      2.6519
2016-01-08     3.16608
2016-01-09      1.0146
2016-01-10     0.92072
2016-01-11     2.57405
2016-01-12     2.57575
2016-01-13     2.18325
2016-01-14     2.37161
2016-01-15     2.11601
2016-01-16     0.99687
2016-01-17     0.90277
2016-01-18     2.46596
2016-01-19     2.38081
2016-01-20     2.62331
2016-01-21     2.36605
2016-01-22     2.33712
2016-01-23      0.9967
2016-01-24     0.90218
2016-01-25     2.19899
2016-01-26     2.30628
2016-01-27     2.30793
2016-01-28     4.38461
2016-01-29     2.25439
2016-01-30     0.99101
...                ...
2018-03-02     4.95131
2018-03-03     1.53238
2018-03-04     1.50192
2018-03-05     5.55021
2018-03-06     5.68681
2018-03-07      6.3532
2018-03-08     5.88336
2018-03-09     6.42227
2018-03-10     1.74514
2018-03-11     1.75536
2018-03-12     6.00685
2018-03-13     6.80612
2018-03-14     6.42672
2018-03-15     5.71485
2018-03-16     5.18358
2018-03-17      1.6079
2018-03-18     1.56098
2018-03-19     5.49998
2018-03-20     5.35425
2018-03-21     4.72146
2018-03-22     5.03421
2018-03-23    10.09964
2018-03-24     1.72049
2018-03-25     1.53692
2018-03-26     5.75503
2018-03-27      5.3089
2018-03-28     5.39799
2018-03-29     4.98529
2018-03-30     4.66563
2018-03-31     1.34016

[821 rows x 1 columns]